/*
Main style file
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,400i");

/*
Header
*/
header.masthead{
    text-align:center;
    color: white;
    
    background-image: url('../img/girlGlobo.jpg');
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 200px;
    
}

.heightAdder{height: 1000px;}

@media (min-width: 992px) {

  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
    color: #717171;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #1F7CFF;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

/*
Basic of template
*/
html, body, html.footer-sticky, .footer-sticky body {
    height: 100%; 
}

body {
    color: #133273;
    letter-spacing: 0em;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    line-height: 1.85714286em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}
/**typography**/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-variant-ligatures: common-ligatures;
  margin-top: 0; 
}

.text-primary {
  color: #3483de !important; }

.text-danger {
  color: #c9302c !important; }

.text-success {
  color: #5cb85c !important; }

.text-warning {
  color: #f0ad4e !important; }

.text-info {
  color: #5bc0de !important; }

.text-white {
  color: white !important; }

.text-dark {
  color: #133273 !important; }

.text-white-gray {
  color: rgba(255, 255, 255, 0.8) !important; }

.text-pink {
  color: #fe0062 !important; }

.pos-relative {
  position: relative; }

.pt0 {
  padding-top: 0 !important; }

.pt10 {
  padding-top: 10px !important; }

.pt20 {
  padding-top: 20px !important; }

.pt30 {
  padding-top: 30px !important; }

.pt40 {
  padding-top: 40px !important; }

.pt50 {
  padding-top: 50px !important; }

.pt60 {
  padding-top: 60px !important; }

.pt70 {
  padding-top: 70px !important; }

.pt80 {
  padding-top: 80px !important; }

.pt90 {
  padding-top: 90px !important; }

.pt100 {
  padding-top: 100px !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pb70 {
  padding-bottom: 70px !important; }

.pb80 {
  padding-bottom: 80px !important; }

.pb90 {
  padding-bottom: 90px !important; }

.pb100 {
  padding-bottom: 100px !important; }

.mb0 {
  margin-bottom: 0 !important; }

.mb5 {
  margin-bottom: 5px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.mb70 {
  margin-bottom: 70px !important; }

.mb80 {
  margin-bottom: 80px !important; }

.mb90 {
  margin-bottom: 90px !important; }

.mb100 {
  margin-bottom: 100px !important; }

.mt5 {
  margin-top: 5px !important; }
    /*
Buttons
*/
.form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
  font-size: .8rem; }

.btn {
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0rem;
  font-size: .80rem;
  font-family: "Poppins", sans-serif;
  padding: 13px 25px 10px !important;
  text-transform: uppercase;
  vertical-align: middle; }

.btn.btn-link-success {
color: #5cb85c !important;
}

.btn.btn-link-warning {
color: #f0ad4e;
}

.btn.btn-link-info {
color: #5bc0de;
}

.btn.btn-link-danger {
color: #c9302c;
}


.btn.btn-link:after {
  font-family: 'themify';
  content: "\e661";
  margin-left: 5px;
  font-size: 12px; 
}

.btn.btn-link:hover {
  text-decoration: none;
  color: #999; 
}


.bg-faded {
  background: #fbfafa; 
}


/***social icons small***/
.social-icon-sm {
    margin: 0 5px 5px 0;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px !important;
    color: #555;
    text-shadow: none;
    border-radius: 3px;
    overflow: hidden;
    display: block;
    float: left;
    text-align: center;
    border: 1px solid #AAA; }
  
  .social-icon-sm:hover {
    border-color: transparent; 
    color: #1F7CFF !important;}
  
  .social-icon-sm i {
    display: block;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    line-height: 30px;
    position: relative; }
  
  .social-icon-sm i:last-child {
    color: #1F7CFF !important; }
  
  .social-icon-sm:hover i:first-child {
    margin-top: -30px; }
  
  si-border {
    border: 1px solid #AAA !important; }
  
  .si-border-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  
  .si-dark-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  
  .si-gray-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  
  .si-gray {
    background: #f3f3f3;
    border: 0px; }
  
  .si-dark {
    background-color: black;
    border: 0px !important;
    color: #fff !important; }
  
/*
Footer styles
*/
.footer-bottomAlt {
  padding: 15px 0;
  padding-top: 20px;
  background-color: #fbfafa; 
}
.footer-bottomAlt span {
  display: block;
  text-align: right; 
}

/**sticky footer*/
html.footer-sticky, .footer-sticky body {
  height: 100%; 
}
  
@media (min-width: 992px) {
  .footer-sticky .page-footer-sticky {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100%; 
  }
  .footer-sticky .page-footer-sticky .footer-sticky-wrap {
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    min-height: 0;
    height: auto;
    position: relative;
    right: 0;
    min-height: 100%; 
  }
  .footer-sticky .page-footer-sticky .footer-sticky-wrap .footer-sticky-inner {
    position: relative;
    width: 100%; 
  } 
}
  

    

/*
Title headings
*/
.title-heading1 {
  text-align: center;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 60px !important; 
}
.title-heading1 h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem; 
}
.title-heading1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80px;
  margin-left: -40px;
  height: 2px;
  background: #3483de; 
}

/*
Blog post entries
*/
.entry-card {
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05); }

.entry-content {
  background-color: #fff;
  padding: 36px 36px 36px 36px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }
  .entry-content .entry-title {
    margin-bottom: 5px; }
    .entry-content .entry-title a {
      color: #929FAD; }
      .entry-content .entry-title a:hover {
        color: #3483de; }
  .entry-content .entry-meta span {
    font-size: 12px; }

.entry-title {
  font-size: 1.3em;
  font-weight: 400; }

.entry-thumb {
  display: block;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }
  .entry-thumb img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; 
    position: relative;

   
    
  }

